
:root{
    --font-main: "DynaPuff", system-ui;
}
 * {
    margin: 0;
    padding: 0;
    font-family:  var(--font-main);
 }

body {
    background-image: url(rain-6812_256.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-position: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: transparent;
    
}



@media(max-width:37.5rem) {
    body {width: 95%;
    font-size: 16px;
    }
}

.busqueda {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
}

.busqueda img {
    cursor: pointer;
    background-color: transparent;
    color: transparent;
    
    :hover, focus{
        background-color: white;
    }

    
    
}

input {
    text-align: center;
    width: 20rem;
    background-color: transparent;
    border-bottom: 0;
    border: 0;
    outline: none;
    
      transition: all .3s;

    &:hover, &:focus {
      background-color: #1b5deb;
      border-radius: 1rem;

    }
}

img {
    width: 25px;

}

.weather {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    width: 320px;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.icon {
    width: 100px;
}
.details{
    display: flex;
    justify-content:space-between;


    
}
button{
    background-color: transparent;
    border: 0;
    border-bottom: 50%;
    transition: all 0.10s;
    

    &:active{
    transform: scale(0.80);
    }
      
    

}
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}
