* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url(rain-6812_256.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-position: center;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: transparent;
}

@media(max-width:37.5rem) {}

.busqueda {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content:space-around;
}

.busqueda img {
    cursor: pointer;
    background-color: transparent;
    
}

input {
    border-radius: 10rem;
    text-align: center;
    width: 20rem;
    background-color: transparent;

}

.error {
    background: rgb(243, 9, 9, 0.15);
    border-radius: 1rem;
    backdrop-filter: red(10px);
    border: 1px solid rgba(255, 255, 255, 0.2)
}

img {
    width: 25px;

}

.weather {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    width: 320px;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.icon {
    width: 100px;
}
.details{
    display: flex;
    justify-content:space-between;


    
}