*{ /*Esta configuración prepara la página para un diseño limpio, consistente y responsivo, eliminando estilos por defecto y mejorando la experiencia de usuario al hacer scroll.*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    max-width: 100%;
    height: auto;
    ;
}
body{ /*imagen de fondo*/
    background: url("./weather/Imagenes-del-clima/fondo1.png");
}
/*, este bloque CSS define el estilo de un elemento con la clase*/
.tarjeta{
    width: auto;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
   
}
/*tamaño de la image search*/
img{
    width: 50px;
    margin-bottom: -4px;
}
/*  .search se convierte en un contenedor flexible y centrado tanto vertical como horizontalmente*/
.busqueda{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.busqueda input{
    
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    font-weight: 400px;
}
.busqueda button{ /*creacion de boton de search y estilo*/
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    background: #00feba;
    cursor: pointer;
    font-size: 22px;
    color: #222;
    transition: all 0.3s ease;
}
.weather-icon{
    margin: 30px 0 10px;
    font-size: 100px;
}
.weather h1{ /*Estilo a titulo wind speed*/
    font-size: 50px;
    font-weight: 700;
}
.weather h2{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 20px;

}
.column{
    flex-basis: 50%;
    text-align: left;
    align-items: center;
    display: flex;
}
.column img{
    width: 40px;
    margin-right: 15px;
} 
.humidity, .wind{
    margin-left: -6px;
    font-size: 30px;
}
.weather{
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    display: none;
}
.error{
    background: #ff0000;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    display: none;
}
.caja {
  width: 300px;
  height: 150px;
  border: 2px solid black;
  padding: 10px;
  word-wrap: break-word;   /* Ajusta palabras largas */
  overflow-wrap: break-word; /* Alternativa moderna */
}
